<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/jquery.formstyler.css" />
    <!--<link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="css/style2.css" />
    <link rel="stylesheet" href="css/media.css" />
  </head>
  <body>
    <header class="header">
      <section class="header1">
        <div class="header__top">
          <div class="container">
            <div class="header__contacts">
              <a class="header__phone" href="tel:380632821043"
                >+38 (063) 282 10 43</a
              >
              <a
                class="header__email"
                href="mailto:irynamakarmyhailivna@gmail.com"
                >irynamakarmyhailivna@gmail.com</a
              >
              <!--<a data-fancybox data-src="#modal" href="javascript:;" class="header__btn-signin" href="#">
                            Реєстрація
                        </a>
                        <a data-fancybox data-src="#modal1" href="javascript:;" class="header__btn-signup" href="#">
                            Вхід
                        </a>-->
            </div>
          </div>
        </div>
        <div class="header__content">
          <div class="container">
            <div class="header__content-inner">
              <div class="header__logo">
                <a href="#">
                  <img src="img/logo.png" alt="" />
                </a>
              </div>
              <nav class="menu">
                <div class="header__btn-menu">
                  <span class="icon-list-ul"></span>
                </div>
                <ul>
                  <li><a href="main">Головна</a></li>
                  <li><a href="main#about">Про компанію</a></li>
                  <li><a href="main#services">Послуги</a></li>
                  <li><a href="main#achievement">Досягнення</a></li>
                  <li><a href="main#reviews">Відгуки</a></li>
                  <li><a href="main#contacts">Контакти</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
    </header>
    <section class="about1">
      <div class="container">
        <div class="about1__inner">
          <div class="about1__title">
            Про компанію
          </div>
          <!--<div class="about1__text">
                        "..Ми постійно вдосконалюємось, тому що нас влаштовує тільки найкращий результат без жодних компромісів!..""
                    </div>
                    <a href="№" class="about1__btn default-btn">
                        Дізнатися більше
                    </a>-->
        </div>
      </div>
    </section>
    <section class="aboutagency">
      <div class="container">
        <div class="about2__title">
          Відповідно до ваших вподобань ми вам пропонуємо весільний пакет послуг Бохо-Шик.
        </div>
        <div class="about2__title">
          Весілля Бохо-Шик — весілля на природі і, аж ніяк, не в ресторані.
          <p>
            fghjkjhgfdfg:
          </p>
        </div>
        <div class="about2__text">
          В декоруванні весілля використовуються лише натуральні елементи та додаються яскраві деталі ретро аксесуари. 
          В зоні церемонії весілля у стилі Бохо-Шик використовується багато зелені. Тому різний плющ на стіні є чудовим живим зеленим фоном для дерев'яної арки
          не стандартного розміру та зони welcome drink. А місцеві античні статуї додають шику, романтики та загадковості до нашого Бохо.
          <p>
            Нижче наведено фото арки, яка входить в цей пакет послуг, а також декор виїзної церемонії.
          </p>
        </div>
        <div class="about2__title">
          ЗДІЙСНЮВАТИ МРІЇ
        </div>
        <div class="about2__text">
          Здійснювати мрії - саме такою 8 років назад обрали місію компанії Mon
          Amour. Заходи від Mon Amour можуть бути різним: душевними,
          романтичними, квітковими, тематичними, веселими, вишуканими, та завжди
          особистісними і емоційними. Запрошуємо переглянути наші проекти.
          Красиві фото, щирі емоції, відео, що затамовують подих скажуть краще
          будь яких слів.
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer__content">
        <div class="container">
          <div class="footer__inner">
            <a href="#">
              <div class="to_top s-arrow" style="display: inline-block;"></div>
            </a>
            <div class="footer__info">
              <div class="footer__title">
                Mon Amour
              </div>
              <div class="footer__text">
                Mon Amour - втілить ваші мрії у реальність.
              </div>
              <!--<a data-fancybox data-src="#modal" href="javascript:;" class="header__btn" href="#">
                        Безкоштовна консультація
                    </a>-->
              <ul class="footer__list">
                <li>
                  <a class="footer__phone" href="tel:380632821043">
                    +38 (063) 282 10 43</a
                  >
                </li>
                <li><a href="#">irynamakarmyhailivna@gmail.com</a></li>
                <li>
                  <a class="footer__adress" href="#">Львів, вул.Бандери, 12</a>
                </li>
              </ul>
            </div>
            <div class="footer__map">
              <iframe
                height="250px"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.3632889946152!2d24.0123311157092!3d49.83563107939527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7a2c390e71%3A0xce87318e879dce52!2z0LLRg9C70LjRhtGPINCh0YLQtdC_0LDQvdCwINCR0LDQvdC00LXRgNC4LCAxMiwg0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1588627128833!5m2!1suk!2sua"
                frameborder="0"
                style="border: 0;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__copy">
        <div class="container">
          <div class="copy__text">
            с 2020 Template by Iryna Makar. Всі права захищені.
          </div>
        </div>
      </div>
    </footer>
    <div id="modal">
      <form>
        <input type="text" placeholder="ПІБ" />
        <input type="text" placeholder="Ваша електронна пошта" />
        <input type="text" placeholder="Ваш номер телефону" />
        <input type="text" placeholder="Пароль" />
        <input type="submit" value="Зареєструватися" />
      </form>
    </div>

    <div id="modal1">
      <form>
        <input type="text" placeholder="Ваш логін" />
        <input type="text" placeholder="Ваш пароль" />
        <input type="submit" value="Увійти" />
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.formstyler.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
